<form action="/log-out" method="POST" class="adminpage-nav">
    <div class="nav-greeting">
        <img src="https://cdn.hugeicons.com/icons/manager-solid-rounded.svg" alt="manager" width="30" height="30">
        <h1> <%= username %> </h1>
        <h6>(admin)</h6>
    </div>
    <input class="logout-btn" type="submit" value="Log Out 👋">
</form>

<form action="/create-employee-from-admin" method="POST" class="adminpage-employee-create">
    <div class="adminpage-create">
        <img src="https://cdn.hugeicons.com/icons/user-solid-rounded.svg" alt="user" width="30" height="30">
        <input type="text" name="name" placeholder="Enter Name" required>
    </div>
    <div class="adminpage-create">
        <img src="https://cdn.hugeicons.com/icons/mail-at-sign-02-solid-rounded.svg" alt="mail-at-sign-02" width="30" height="30">
        <input  type="text" name="email" placeholder="Enter Email" required>
    </div>
    <div class="adminpage-create">
        <img src="https://cdn.hugeicons.com/icons/forgot-password-solid-rounded.svg" alt="forgot-password" width="30" height="30">
        <input  type="password" name="password" placeholder="Enter Password" required>
    </div>
    <div class="adminpage-create">
        <img src="https://cdn.hugeicons.com/icons/mentoring-solid-rounded.svg" alt="mentoring" width="30" height="30">
        <select name="role" required>
            <option selected disabled>Choose Role of Employee</option>
            <option value="Admin">Admin</option>
            <option value="Employee">Employee</option>
        </select>
    </div>
    <input class="submit-create" type="submit" value="Create Employee">
</form>

<div class="employee-list-and-edit">
    <div class="employee-list">
        <!-- <div class="employee-details">
            <img src="https://cdn.hugeicons.com/icons/user-multiple-solid-rounded.svg" alt="user-multiple" width="50" height="50">
            <h3>Arnav Saha</h3>
            <h3>1@a</h3>
            <h3>Admin</h3>
        </div> -->
        <% for(employee of allEmployessData) { %>
            <div class="employee-details" id="<%= employee['_id'] %>">
                <img src="https://cdn.hugeicons.com/icons/user-multiple-solid-rounded.svg" alt="user-multiple" width="50" height="50">
                <h3><%= employee.name %></h3>
                <h3><%= employee.email %></h3>
                <h3 class="<%= employee.role %>"><%= employee.role %></h3>
                <% if(employee.role == 'Admin') { %>
                    <button disabled>Disabled For Admin</button>
                    <button disabled>Delete</button>
                <% } else { %>
                    <form action="delete-employee" method="Post">
                        <input type="button" value="Click to Edit !" id="<%= employee['_id'] %>" class="employee-btn">
                        <input type="hidden" name="employee-id" value="<%= employee['_id'] %>">
                        <input type="submit" value="Delete" >
                    </form>
                <% } %>
            </div>
        <% } %>
    </div>
    <div class="edit-plus-ratings">
        <h1 class="employee-name" style="color: orange; text-align: center; text-decoration-line: overline;"></h1>
        <div class="edit-employee">
            
        </div>
        <div class="review-section hidden">
            <h2>Review Section</h2>
            <form action="/add-review" method="POST">
                <div class="assign-review">
                    <select name="assign-review-from" required>
                    </select>
                    <div class="assign-review-btns">
                        
                    </div>
                </div>
            </form>
            <h2 style="margin-top: 30px; margin-bottom: 10px;">All Past Ratings</h2>
            <div class="past-ratings">
                <div class="employee-review">
                    <p>NO REVIEWS YET</p>
                    <span> 🗨️ </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/admin-page-script.js"></script>